body {
    margin: 0px;
}

.tab {
    color: #3F5D45;
    font-weight: bold;
    cursor: pointer;
}

.tab_logo {
    top: 30px;
    left: 42px;
    width: 40px;
    height: 40px;
    position: absolute;
}

.tab_logo_name {
    top: 36.9px;
    left: 90.27px;
    width: 171.22px;
    height: 26.6px;
    position: absolute;
}

.tab_category {
    display: flex;
    justify-content: space-between;
    width: 216px;
    position: absolute;
    top: 40px;
    left: 663px;
    font-size: 16px;
    text-align: left;
}

.tab_cart {
    top: 39px;
    left: 958px;
    height: 24px;
    width: 24px;
    position: absolute;
}

.pic {
    background-image: url(https://bit.ly/2OhbMHr);
    background-position: 0% 50%;
    width: 91.8%;
    height: 496px;
    top: 9.7%;
    left: 4.1%;
    right: 4.1%;
    position: absolute;
    display: flex;
    justify-content: center;
    background-size: cover;
}    

.banner {
    /*width: 100%;*/
    height: 256px;
    top: 100px;
    left: 42px;
    position: absolute;
    display: flex;
    justify-content: center;
} 

.banner_today {
    height: 256px;
    width: 259.67px;
    position: absolute;
    top: 407px;
    left: 81px;
}

.banner_today_txt {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    text-align: left;
    height: 135.37px;
    width: 24.91px;
    position: absolute;
    top: 62.98px;
    left: 119.46px;
    bottom: 57.65px;
    right: 115.29px;
    z-index: 99;
    box-sizing: content-box;
}

.banner_today_img {
    background-image: url(https://bit.ly/2R5tqwD);
    background-position: center center;
    height: 256px;
    width: 259.67px;
    position: absolute;
    background-size: cover;
    filter: blur(5px);
}

.banner_today_color {
    background: rgba(63, 93, 69, 1);
    filter: blur(5px);
    opacity: 80%;
    height: 256px;
    width: 259.67px;
    position: absolute;
}

.banner_today:hover .banner_today_color {
    color: rgba(63, 93, 69, 1);
    background: rgba(255, 225, 128, 1);
    filter: blur(5px);
    cursor: pointer;
}

.banner_today:hover .banner_today_txt {
    color: rgba(63, 93, 69, 1);
    font-weight: bold;
    cursor: pointer;
}

.banner_popular {
    height: 256px;
    width: 259.67px;
    position: absolute;
    top: 407px;
    left: 340.67px;
}

.banner_popular_txt {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    text-align: left;
    height: 135.37px;
    width: 24.91px;
    position: absolute;
    top: 62.98px;
    left: 119.46px;
    bottom: 57.65px;
    right: 115.29px;
    z-index: 99;
    box-sizing: content-box;
}

.banner_popular_img {
    background-image: url(https://bit.ly/2Dwoxd7);
    background-position: center center;
    height: 256px;
    width: 259.67px;
    position: absolute;
    background-size: cover;
    filter: blur(5px);
}

.banner_popular_color {
    background: rgba(63, 93, 69, 1);
    filter: blur(5px);
    opacity: 80%;
    height: 256px;
    width: 259.67px;
    position: absolute;
}

.banner_popular:hover .banner_popular_color {
    color: rgba(63, 93, 69, 1);
    background: rgba(255, 225, 128, 1);
    filter: blur(5px);
    cursor: pointer;
}

.banner_popular:hover .banner_popular_txt {
    color: rgba(63, 93, 69, 1);
    font-weight: bold;
    cursor: pointer;
}

.banner_new {
    height: 256px;
    width: 259.67px;
    position: absolute;
    top: 407px;
    left: 600.33px;
}

.banner_new_txt {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    text-align: left;
    height: 135.37px;
    width: 24.91px;
    position: absolute;
    top: 62.98px;
    left: 119.46px;
    bottom: 57.65px;
    right: 115.29px;
    z-index: 99;
    box-sizing: content-box;
}

.banner_new_img {
    background-image: url(https://bit.ly/2OUteif) ;
    background-position: -180% -130%;
    height: 256px;
    width: 259.67px;
    position: absolute;
    background-size: cover;
    filter: blur(5px);
}

.banner_new_color {
    background: rgba(63, 93, 69, 1);
    filter: blur(5px);
    opacity: 80%;
    height: 256px;
    width: 259.67px;
    position: absolute;
}

.banner_new:hover .banner_new_color {
    color: rgba(63, 93, 69, 1);
    background: rgba(255, 225, 128, 1);
    filter: blur(5px);
    cursor: pointer;
}

.banner_new:hover .banner_new_txt {
    color: rgba(63, 93, 69, 1);
    font-weight: bold;
    cursor: pointer;
}

.article1 {
    background: #EAF0ED;
    width: 100%;
    height: 420px;
    position:relative;
    top: 843px;
}

.article1_title {
    position: absolute;
    top: -20px;
    right: 42.06px;
    width: 8.6%;
}

.article1_content {
    writing-mode: vertical-rl;
    color: #8DA291;
    font-size: 16px;
    text-align: left;
    width: 25%;
    height: 279.97px;
    line-height: 40px;
    position: absolute;
    top: 70px;
    right: 20.6%;
}

.article1_pic {
    background-image: url(https://bit.ly/2xPn7Eq);
    background-position: 0% 40%;
    background-size: cover;
    width: 44.9%;
    height: 109.5%;
    position: absolute;
    margin: -2% 51% -2% 4.1%;
}

.article2 {
    background: #EAF0ED;
    width: 100%;
    height: 420px;
    position:absolute;
    top: 1368px;
}

.article2_title {
    position: absolute;
    top: -25px;
    left: 38.2%;
    width: 8.6%;
}

.article2_content {
    writing-mode: vertical-rl;
    color: #8DA291;
    font-size: 16px;
    text-align: left;
    width: 25%;
    height: 279.97px;
    line-height: 40px;
    position: absolute;
    top: 65px;
    left: 5.4%;
}

.article2_pic {
    position: absolute;
    background-image: url(https://bit.ly/2zzAQS4);
    background-position: 0% 40%;
    background-size: cover;
    width: 44.9%;
    height: 460px;
    margin: -2% 4.1% -2% 51%;
}

.article3 {
    position: absolute;
    top: 1883px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.shop {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 434px;
    position: absolute;
    top: 2291px;
    left: 4%;
    right: 4%;
}

.shop_item1 {
    position: absolute;
    height: 436px;
    width: 30%;
}

.shop_item1_pic {
    background-image: url(https://bit.ly/2zBjQuq);
    background-size: cover;
    background-position: 0% 50%;
    width: 100%;
    height: 315px;
    position: relative;
}

.shop_item1_select {
    color: #EAF0ED;
    background: #3F5D45;
    font-size: 16px;
    text-align: left;
    width: 36px;
    height: 106.73px;
    position: absolute;
    left: 20px;
    z-index: 99;
    line-height:20px; 
    padding: 10.08px 10px 9.24px 10px;
    box-sizing: border-box;
}

.shop_item1_heart {
    position: absolute;
    top: 19px;
    right: 22px;
    cursor: pointer;
}

.shop_item1_txt {
    display: flex;
    justify-content:center;
}

.shop_item1_name {
    color: #3F5D45;
    padding: 14px 33px 14px 33px;
    position: relative;
    font-size: 20px;
    border: #EAF0ED solid 1px;
    box-sizing: border-box;
    text-align: left;
    line-height: 20px;
    width: 57.7%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_item1_price {
    color: #3F5D45;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    width: 42.3%;
    height: 56px;
    padding: 14px 20px 14px 25px;
    text-align: center;
    line-height: 24px;
    border: #EAF0ED solid 1px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_item1_cart {
    font-weight: bold;
    color: #3F5D45;
    font-size: 24px;
    background: #EAF0ED;
    border: #EAF0ED solid 1px;
    position: relative;
    height: 65px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_item2 {
    position: absolute;
    height: 436px;
    width: 30%;
    left: 31%;
}

.shop_item2_pic {
    background-image: url(https://bit.ly/2zBDAxX);
    position: relative;
    background-size: cover;
    background-position: 0% 50%;
    width: 100%;
    height: 315px;
}

.shop_item2_select {
    color: #EAF0ED;
    background: #3F5D45;
    font-size: 16px;
    text-align: left;
    width: 36px;
    height: 106.73px;
    position: absolute;
    left: 20px;
    z-index: 99;
    line-height:20px; 
    padding: 10.08px 10px 9.24px 10px;
    box-sizing: border-box;
}

.shop_item2_heart {
    position: absolute;
    top: 19px;
    right: 22px;
    cursor: pointer;
}

.shop_item2_txt {
    display: flex;
    justify-content: center;
}

.shop_item2_name {
    color: #3F5D45;
    padding: 14px 33px 14px 33px;
    position: relative;
    font-size: 20px;
    border: #EAF0ED solid 1px;
    box-sizing: border-box;
    text-align: left;
    line-height: 20px;
    width: 57.7%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_item2_price {
    color: #3F5D45;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    width: 42.3%;
    height: 56px;
    padding: 14px 20px 14px 25px;
    text-align: center;
    line-height: 24px;
    border: #EAF0ED solid 1px;
    box-sizing: border-box;display: flex;
    justify-content: center;
    align-items: center;
}

.shop_item2_cart {
    font-weight: bold;
    color: #3F5D45;
    font-size: 24px;
    background: #EAF0ED;
    border: #EAF0ED solid 1px;
    position: relative;
    height: 65px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_item3 {
    position: absolute;
    height: 436px;
    width: 30%;
    left: 62%;
}

.shop_item3_pic {
    position: relative;
    background-size: cover;
    background-position: 0% 50%;
    background-image: url(https://bit.ly/2QbVsVR);
    width: 100%;
    height: 315px;
}

.shop_item3_select {
    color: #EAF0ED;
    background: #3F5D45;
    font-size: 16px;
    text-align: left;
    width: 36px;
    height: 106.73px;
    position: absolute;
    left: 22px;
    z-index: 99;
    line-height:20px; 
    padding: 10.08px 10px 9.24px 10px;
    box-sizing: border-box;
}

.shop_item3_heart {
    position: absolute;
    top: 19px;
    right: 22px;
    cursor: pointer;
}

.shop_item3_txt {
    display: flex;
    justify-content: center;
}

.shop_item3_name {
    color: #3F5D45;
    padding: 14px 33px 14px 33px;
    position: relative;
    font-size: 20px;
    border: #EAF0ED solid 1px;
    box-sizing: border-box;
    text-align: left;
    line-height: 20px;
    width: 57.7%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_item3_price {
    color: #3F5D45;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    width: 42.3%;
    height: 56px;
    padding: 14px 20px 14px 25px;
    text-align: center;
    line-height: 24px;
    border: #EAF0ED solid 1px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_item3_cart {
    font-weight: bold;
    color: #3F5D45;
    font-size: 24px;
    background: #EAF0ED;
    border: #EAF0ED solid 1px;
    position: relative;
    height: 65px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe {
    position: absolute;
    top: 2785px;
    background: #3F5D45;
    width: 100%;
    height: 116px;
    display: inline;
}

.subscribe_logo {
    position: absolute;
    top: 38px;
    left: 11.9%;
    z-index: 99;
    width: 3.9%;
    height: 40px;
}

.subscribe_txt {
    z-index: 99;
    position: absolute;
    top: 42px;
    left: 17.8%;
    font-size: 24px;
    color: #EAF0ED;
    text-align: left;
    height: 33px;
    width: 21.1%;
}

.subscribe_form {
    position: absolute;
    top: 30px;
    left: 51%;
}

.subscribe_form_input {
    height: 56px;
    width: 30.9%;
    background: #EAF0ED;
    box-sizing: border-box;
    display: flex;
    justify-content: stretch;
}

.subscribe_form_input input {
    background: #EAF0ED;
    border: none;
}

.subscribe_form_input img {
    padding: 16px 5px 16px 20px;
    display: inline;
}

.subscribe_form_button {
    position: absolute;
    top: 0px;
    left: 316px;
    height: 56px;
    box-sizing: content-box;
    border: none;
    width: 6.3%;
}

.subscribe_form_button button{ 
    cursor: pointer; 
    border: none;
}

.subscribe_form_button_pic {
    position: absolute;
    top: 20px;
    left: 340px;
    height: 16px;
    cursor: pointer;
}

.info {
    background: #EAF0ED;
    width: 100%;
    height: 341px;
    position: absolute;
    top: 2901px;
}

.info_logo {
    position: relative;
    top: 38.9px;
    left: 11.9%;
    width: 3.9%;
}

.info_contact {
    color: #3F5D45;
    position: absolute;
    top: 181px;
    left: 11.9%;
    font-size: 16px;
    text-align: left;
}

.info_email {
    position: absolute;
    top: 279px;
    left: 11.9%;
    cursor: pointer;
}

.info_facebook {
    position: absolute;
    top: 279px;
    left: 15.8%;
    cursor: pointer;
}

.info_word {
    position: absolute;
    top: 30px;
    left: 82.3%;
}

.info_credit {
    color: #3F5D45;
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 295px;
    left: 62.9%;
}